#login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.loading-wrapper {
  width: 20px;
}

#login-form {
  background-color: white;
  width: 50%;
}

.login-form-element {
  margin-top: 25px;
}
